@model mvcefproject.Models.JivikaSbaccount

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JivikaSbaccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { AccountNo = @Model.AccountNo }) |
    <a asp-action="getallAcc">Back to List</a>
</div>
