@{
    ViewData["name"] = "Jivika";
}


<html>

<h2>This is a new Controller named 'Student' </h2>
<h4>Welcome to my controller</h4>

<hr>
<h4>Name : @ViewData["name"]</h4>
<h4>Age : @ViewData["age"]</h4>
<h4>CompanyName : @ViewBag.CompanyName</h4>

<hr>

<h4>Name : @ViewBag.name</h4>
<h4>Age : @ViewBag.age</h4>
<h4>CompanyName : @ViewData["CompanyName"]</h4>

</html>