@model airflight.Models.FlightDetail

@{
    ViewData["Title"] = "DetailFlight";
    Layout="/Views/Admin/layout.cshtml";
}


<div>
    <h4>Flight Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flightid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flightid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flightname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flightname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departuretime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departuretime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrivaltime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrivaltime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalcapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalcapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costperseat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costperseat)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditFlight", new { id = @Model.Flightid }) |
    <a asp-action="getallFlight">Back to List</a>
</div>
