@model airflight.Models.RouteDetail

@{
    ViewData["Title"] = "DetailRoute";
    Layout="/Views/Admin/layout.cshtml";
}


<div>
    <h4>Route Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Routeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Routeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flightid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flightid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Routedesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Routedesc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditRoute", new { id = @Model.Routeid }) |
    <a asp-action="getallRoute">Back to List</a>
</div>
